*{
    box-sizing: border-box;
}

.cadre{
    border: 3px solid red;
}

body{
    font-family: 'roboto';
    width: auto;
    overflow-x: hidden;
}

body, html{
    margin: 0;
}

@font-face{
	font-family: 'roboto';
	src: url('/fonts/roboto/Roboto-Light.ttf');
}

@font-face{
	font-family: 'shrikhand';
    src: url('/fonts/shrikhand/Shrikhand-Regular.ttf');
}

// VARIABLES
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #FFF;
$colour-grey: #474545;




$breakpoints:(
    mobile: 767px,
    tablette-pc: 991px
);

// MIXINS
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@mixin tablette-pc {
    @media screen and (max-width: map-get($breakpoints, tablette-pc)){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@mixin flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;   
}
@mixin text-align-centre {
    text-align: center;
}
@mixin row-spacebetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header{
    @include flex-centre;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 24px;
    box-shadow: 0px 5px 5px lightgrey;
    margin-bottom: 5px;
   .header__logo{
    width: 160px;
    height: 30px;
   }
}

.localisation{
    @include flex-centre;
    color: $colour-grey;
    background-color: #ebebeb;
    height: 45px;
    .localisation__texte{
        font-weight: bolder;
    }
    .localisation__logo{
        margin-right: 17px;
        margin-left: -25px;
    }
}

.decouverte{
    background-color: #f6f6f6;
    padding-bottom: 50px;
    .decouverte__titre{
        margin: 0px 70px 0px 70px;
        padding-top: 40px;
        text-align: center;
        font-size: 22px;
        @include text-align-centre;
    }
    .decouverte__soustitre{
        margin: 15px;
        @include text-align-centre;
    }
    .decouverte__cliquebouton{
        text-decoration: none;
        color: $colour-white;
    }
    .decouverte__bouton{
        background-color: $colour-primary;
        border-radius: 25px;
        width: 210px;
        height: 50px;
        margin: auto;
        margin-top: 30px;
        @include flex-centre;
    }
}

.fonctionnement{
    @include mobile-only;
    margin-top: 25px;
    margin-bottom: 50px;
    .fonctionnement__titre{
        font-size: 24px;
        margin-left: 20px;
    }
    .fonctionnement__listepresentation{
        @include mobile-only;
        @include flex-centre;
    }
    .fonctionnement__presentation{
        @include row-spacebetween;
        box-shadow: 0px 5px 10px lightgrey;
        margin: 10px;
        margin-left: 25px;
        width: 320px;
        height: 75px;
        border-radius: 20px;
        background-color: #f6f6f6;
    }
    .fonctionnement__numero{
        margin-left: -15px;
        background-color: $colour-primary;
        color: $colour-white;
        width: 25px;
        height: 25px;
        padding-top: 4px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        border-radius: 25px;
    }
    .fonctionnement__icon{
        font-size: 22px;
        color: grey;
    }
    .fonctionnement__texte{
        margin-right: 90px;
        font-weight: bold;
    }
}

.restaurant{
    background-color: #f6f6f6;
    .restaurant__cadre{
        width: 300px;
        background-color: $colour-white;
        border-radius: 15px;
    }
    .restaurant__cliquecadre{
        text-decoration: none;
        color: black;
    }
    .restaurant__photo{
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    .restaurant__imgreglage{
        width: 100%;
        height: 160px;
        overflow: hidden;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .restaurant__imgtexte{
        position: absolute;
        background-color: #99E2D0;
        color: #008766;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 25px;
        margin-left: 210px;
        margin-top: -150px;
        border-radius: 3px;
        font-size: 13px;
        font-weight: bold;
    }
}