.fonctionnement{
    margin-top: 25px;
    margin-bottom: 50px;
    &__titre{
        font-size: 24px;
        margin-left: 20px;
    }
    &__listepresentation{
        @include flex-centre;
        @include column-spacebetween;
        @media screen and (min-width: map-get($breakpoints, tablette-pc)){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__presentation{
        @include row-spacebetween;
        box-shadow: 0px 5px 10px lightgrey;
        margin: 10px;
        margin-left: 25px;
        width: 320px;
        height: 75px;
        border-radius: 20px;
        background-color: #f6f6f6;
        &:hover{
            box-shadow: 0px 1px 10px black;
            background-color: #f5edff;
        }
        &:hover .fonctionnement__icon{
            color: $colour-primary;
        }
    }
    &__numero{
        @include center-baseline;
        margin-left: -15px;
        background-color: $colour-primary;
        color: $colour-white;
        width: 25px;
        height: 25px;
        padding-top: 4px;
        border-radius: 25px;
    }
    &__icon{
        font-size: 22px;
        color: grey;
    }
    &__texte{
        margin-right: 90px;
        font-weight: bold;
    }
}