.restaurant{
    background-color: #f6f6f6;
    &__cadre{
        width: 300px;
        background-color: $colour-white;
        border-radius: 15px;
    }
    &__cliquecadre{
        text-decoration: none;
        color: black;
    }
    &__photo{
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    &__imgreglage{
        width: 100%;
        height: 160px;
        overflow: hidden;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__imgtexte{
        position: absolute;
        background-color: #99E2D0;
        color: #008766;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 25px;
        margin-left: 210px;
        margin-top: -150px;
        border-radius: 3px;
        font-size: 13px;
        font-weight: bold;
    }
}