$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #FFF;
$colour-grey: #474545;
$colour-green: #008766;
$colour-turquoise: #99e2d0;

$anim-dur-1s: 1000ms;
$anim-ease-in-out: ease-in-out;


$breakpoints:(
    mobile: 767px,
    tablette-pc: 768px
);